<div class="home">
  <div class="home-wrapper"></div>
  <div class="slider">
    <div class="slider-wrapper">
      {{ content.slider }}
    </div>
  </div>
  <div class="content">
    <div class="content-wrapper">
      {{ content.content }}
    </div>
  </div>
</div>
