<div class="aa">
	<div class="aa-wrapper">
		<div class="image">
			<div class="slider-wrapper">
				{{ content.image }}
			</div>
		</div>
	</div>

	<div class="info">
		<div class="info-wrapper">
			{{ content.content }}
		</div>
	</div>
</div>
