// Base
// -----------------------------------------------------------------------------
@import "bootstrap";

// Parent Drupal related components
// -----------------------------------------------------------------------------
@import "../../contrib/radix/src/components/navbar/navbar";
@import "../../contrib/radix/src/components/forum/forum";
@import "../../contrib/radix/src/components/offcanvas/offcanvas";

// Overriding Bootstrap components
// -----------------------------------------------------------------------------
@import "./base/elements";
@import "./base/functions";
@import "./base/helpers";
@import "./base/typography";

// Other
// -----------------------------------------------------------------------------

@import "./components/navbar";
@import "./components/nav";
@import "./components/dropdown";
@import "./components/offcanvas";
@import "./components/header";
@import "./components/footer";
@import "./components/address";
@import "./components/content";
@import "./components/slider";
@import "./components/view";
@import "./components/search";
@import "./components/button";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
